<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PmMpi: Projek Mubar Mengurangi Perubahan Iklim</title>
    <link rel="stylesheet" href="../static/css/styles.css">
        <link rel="icon" href="../static/img/favicon.ico">
</head>
<body>
    <nav>
            <ul  class="navig">        
                <li><h2><div class="nav"><a href="/">Home</a></div></h2></li>
                <li><h2><div class="nav"><a href="/project">Project</a></div></h2></li>
        <li><h2><div class=" nav"><a  href="/blog">Blog</a></div></h2></li>
        <li><h2><div  class="active_nav nav"><a href="/about">About/Tentang</a></div></h2></li>

    </ul>
    </nav>
    <h1>Tentang PmMpi</h1><div class="about">
    <p class="about">
PmMpi (Projek Mubar Mengurangi Perubahan Iklim) adalah website yang dibuat sebagai bagian dari Hackathon Kodland.

Melalui PmMpi, kami ingin menyebarkan kesadaran dan informasi praktis tentang apa yang bisa kita lakukan — mulai dari hal kecil sehari-hari hingga perubahan gaya hidup yang lebih besar.

Mengapa ini penting? Bumi kita sedang berubah. Suhu makin panas, cuaca makin ekstrem, dan waktu kita untuk bertindak semakin sempit. Kami percaya bahwa informasi yang tepat bisa menggerakkan tindakan nyata.

Dibuat oleh siapa? Website ini dibuat oleh Mubarkaj (github), nama asli tidak di sebut.</p>

</div>
</html>