    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">

        <title>PmMpi: Projek Mubar Mengurangi Perubahan Iklim</title>
        <link rel="icon" href="../static/img/favicon.ico">

        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <nav>
                <ul  class="navig">        
                    <li><h2><div class="active_nav nav"><a  href="/">Home</a></div></h2></li>
                    <li><h2><div  class="nav"><a href="/project">Project</a></div></h2></li>
            <li><h2><div  class="nav"><a href="/blog">Blog</a></div></h2></li>
            <li><h2><div class="nav"><a href="/about">About/Tentang</a></div></h2></li>

        </ul>
        </nav>

        <h1>Perubahan iklim</h1><div class="index divos">
        <div id="iklim" class="index divdex1">
    <h2 class="index">Iklim adalah pola cuaca rata-rata di suatu wilayah yang terjadi dalam jangka waktu panjang, biasanya 30 tahun atau lebih.</h2>
    </div><img src="../static/img/vageta.jpg" id="pola"></div>
    <div class="index divos"><img src="../static/img/drought.jpg">
        <div id="iklim" class="index divdex2">
    <h2 class="index">Perubahan iklim terjadi karena aktivitas manusia — seperti membakar bahan bakar fosil dan penebangan hutan — menghasilkan terlalu banyak gas CO₂ yang memerangkap panas di atmosfer.
    Akibatnya, Bumi makin panas: es kutub mencair, cuaca makin ekstrem, dan banyak makhluk hidup terancam.</h2>
    </div></div>
    <hr>
        <div id="iklim" class="index divdex3">
    <h2 class="index opx">Berikut cara-cara yang bisa dilakukan untuk mencegah perubahan iklim:
    </h2>
    <ul class="drip">
        <li class="dripstone"><div class="flexer"><div class="lidripdiv"><img src="../static/img/solar.jpg"><p>Beralih ke energi terbarukan seperti panel surya dan turbin angin</p></div><div class="lidripdiv"><img src="../static/img/bus.jpg"><p>Kurangi penggunaan kendaraan pribadi, pilih transportasi umum atau sepeda</p></div></div></li>
        <li class="dripstone"><div class="flexer"><div class="lidripdiv"><img src="../static/img/light.jpg"><p>Hemat listrik di rumah dengan mematikan perangkat yang tidak dipakai</p></div><div class="lidripdiv"><img src="../static/img/sapling.jpg"><p>Tanam lebih banyak pohon dan jaga kelestarian hutan</p></div></div></li>
        <li class="dripstone"><div class="flexer"><div class="lidripdiv"><img src="../static/img/trashcan.jpg"><p>Daur ulang sampah dan kurangi penggunaan plastik sekali pakai</p></div><div class="lidripdiv"><img src="../static/img/eggs.jpg"><p>Dukung produk dan perusahaan yang ramah lingkungan</p></div></div></li>
    </ul>
    </div>

    <footer><p style="text-align: center;">Terimakasih sudah membaca, jangan lupa menjaga dunia!</p></footer>
    </body>
    </html>